body {
    /*background-color: #2E2E2E;*/
    min-width: 960px;
    background-image: url('../static/dark_Tire.png');
    font-family: 'Droid Sans', sans-serif;
    font-size: 17px;
    color:LightSteelBlue;
}

h1 {
    background-color: #B18904;
    margin-top:0px;
    margin-bottom:0px;
    padding-right: 10%;
    font-family: 'Jockey One', sans-serif;
    font-size: 130px;
    text-align: right;
    text-transform: uppercase;
}

a {
    color:#4682b4;
}

a: visited {
    color: #4682b4;
}

.content {

}


.nav {
    background-color:#444444;
    color:#4682b4;
    display:block;
    text-decoration:none;
    list-style: none;
    font-size:20px;
    text-transform:uppercase;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.nav a{
    text-decoration:none;
    margin-right:20px;
    padding-left:20px;
}

.container_12{
    margin-top:0px;
}