<!DOCTYPE html>
<html>
    <head>
        <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" type="text/css" href="../static/resume/main.css">
        <title>Laura Kelly</title>
    </head>
    <body>
        <header>
            <h1>Laura Kelly</h1>
            <ul id="social">
                <li><a href="http://www.twitter.com/heylaurakelly">@heylaurakelly</a></li>
                <li><a href="http://www.github.com/laurakelly">GitHub.com/laurakelly</a></li>
                <li><a href="http://www.dribbble.com/laurakelly">Dribbble.com/laurakelly</a></li>
                <li><a id="email" href="mailto:laurakelly135@gmail.com" target="_top">laurakelly135@gmail.com</a></li>
            </ul>
            <div>
                <h2>Software Engineer & Data Visualization Developer</h2>
            </div>
            <hr>
        </header>
        <div id="experience">
            <h2>Experience</h2>
        </div>
        <div id="skills">
            <h2>Skills</h2>
        </div>
        <div id="honors">
            <h2>Honors & Awards</h2>
            <div class="col_1">
                <ul>
                    <li>
                        <p>Speaker at Hackbright Academy Girl Geek Dinner, 2012</p>
                    </li>
                    <li>
                        <p>2nd Place, DevelopHer Hackathon, 2012</p>
                        <ul>
                            <li>Won second place for building Muni Mobile, a web application that texts you scheduled, real-time updates when a Muni bus is approaching your stop</li>
                        </ul>
                    </li>
                    <li>
                        <p>PyLadies Scholarship, 2012</p>
                    </li>
                </ul>
            </div>
            <div class="col_2">
                <ul>
                    <li>
                        <p>Selected as Gawker Artist, 2011</p>
                    </li>                    
                    <li>
                        <p>Undergraduate Research Award, 2008 & 2009, Washington University in St. Louis</p>
                    </li> 
                    <li>
                        <p>Gary Hirsch Research Scholarship, 2008, Washington University in St. Louis</p>
                    </li>
                    <li>
                        <p>Dean's List, Fall 2008 - Spring 2009, Washington University in St. Louis</p>
                    </li>
                </ul>
            </div>
        </div>
        <div id="publications">
            <h2>Publications</h2>
            <ul>
                <li>
                    Women 2.0   
                    <a href="http://www.lauralkelly.com/women2">"Two Student Programmers Build Their First Webapp, Winning Second Place At DevelopHer Hackathon"</a>
                </li>
                <li>
                    Neuron  
                    <a href="http://www.lauralkelly.com/neuron">"Can cognitive training improve episodic memory?"</a>
                </li>
           </ul>
        </div>
                <div id="projects">
            <h2>Personal Projects</h2>
            <ul class="col_1">
                <li>
                    <img src="../static/resume/images/projects/dlc.png" alt="Dakar Language Center">
                    <ul>
                        <li><h3>Dakar Language Center</h3></li>
                        <li>Deployed at <a href="http://www.dakarlanguagecenter.com">www.dakarlanguagecenter.com</a></li>
                        <li>Website for the Dakar Language Center</li>
                        <li>HTML, LESS, JavaScript, jQuery</li>
                    </ul>
                </li>
                <li>
                    <img src="../static/resume/images/projects/muni_mobile.png" alt="Muni Mobile">
                    <ul>
                        <li><h3>Muni Mobile</h3></li>
                        <li>Deployed at <a href="http://munimobile.herokuapp.com">munimobile.herokuapp.com</a></li>
                        <li>A web application that texts you scheduled, real-time updates when a Muni bus is approaching your stop</li>
                        <li>2nd place winner of the LinkedIn DevelopHer Hackathon</li>
                        <li>Python, Django, Cron.io, Twilio, NextBus API, JSON, JavaScript</li>
                    </ul>
                </li>
                <li>
                    <img src="../static/resume/images/projects/mbk.png" alt="MBK">
                    <ul>
                        <li><h3>MaryBKelly.com</h3></li>
                        <li>Deployed (with temporary placeholder text) at <a href="http://www.marybkelly.com">www.marybkelly.com</a></li>
                        <li>Single page professional website for a French instructor and translator</li>
                        <li>Flask, LESS, HTML, JavaScript</li>
                    </ul>
                </li>
            </ul>
            <ul class="col_2">
                <li>
                    <img src="../static/resume/images/projects/conspire.png" alt="Conspire">
                    <ul>
                        <li><h3>Conspire</h3></li>
                        <li>Browser-based annonymous voice chat</li>
                        <li>I designed and coded the front-end design using Jade templates, CSS, and Node.js</li>
                        <li>My partner programmed the voice chat using Firebase, WebRTC, and Node.js. I provided JavaScript advice when needed.</li>
                    </ul>
                </li>
                <li>
                    <img src="../static/resume/images/projects/idl_hands.png" alt="Idl Hands">
                    <ul>
                        <li><h3>Idl Hands</h3></li>
                        <li>A self-curated online art community by artists, for artists</li>
                        <li>Django, PostgreSQL, jQuery, JavaScript, HTML, CSS</li>
                    </ul>
                </li>
                <li>
                    <img src="../static/resume/images/projects/laurakelly.png" alt="Laura Kelly">
                    <ul>
                        <li><h3>LauraLKelly.com</h3></li>
                        <li>Deployed at <a href="http://www.lauralkelly.com">www.lauralkelly.com</a></li>
                        <li>My professional website, blog, and gallery</li>
                        <li>Flask, LESS, HTML, JavaScript, jQuery</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="hobbies">
            <h2>Hobbies</h2>
            <ul>
                <li>Mentor for two Hackbright Academy students</li>
                <li>Mixed-media artist, with work in previous gallery shows in California and New York
                    <div id="gallery">
                        <div id="thumbnails">
                             <img src="../static/resume/images/portfolio/thumbnail/cassette.jpg" alt="cassette">
                             <img src="../static/resume/images/portfolio/thumbnail/gameboy.jpg" alt="gameboy">
                             <img src="../static/resume/images/portfolio/thumbnail/jarritos.jpg" alt="jarritos">
                             <img src="../static/resume/images/portfolio/thumbnail/tacos.jpg" alt="tacos">
                             <img src="../static/resume/images/portfolio/thumbnail/typewriter.jpg" alt="typewriter">
                             <img src="../static/resume/images/portfolio/thumbnail/Bells_beer.jpg" alt="bell's beer">
                         </div>
                     </div>
                </li>
            </ul>
        </div>
        <footer>
        </footer>

        <!-- Scripts -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.10/d3.min.js"></script>
        <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
        <script type="text/javascript" src="../static/resume/script.js"></script>
    </body>
</html>
