<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="laurakelly.css" />
    <title>Laura Kelly</title>
</head>
<body>
<h1>Laura Kelly</h1>
<div class="sidebar">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('projects') }}">Code</a>
    <a href="{{ url_for('portfolio')  }}">Art</a>
    <a href="{{ url_for('blog')  }}">Blog</a>
    <a href="{{ url_for('cv')  }}">CV</a>
    <a href="{{ url_for('links')  }}">Links</a>
</div>
<div class="content">
    <div class="about">
        <p>
            Hi, I'm Laura Kelly. I'm a web developer who loves Python and Django, and
            I'm a freelance mixed media artist in my spare time. I'm currently a student
            at <a href="http://www.hackbrightacademy.com">Hackbright Academy</a>. Prior
            to becoming a developer, I studied philosophy and neuroscience at
            Washington University in St. Louis. After graduating, I worked in a neuroscience
            lab at UC Davis for two years studing memory with fMRI, EEG, and eye-tracking. I
            taught myself Python to do data analysis in the lab and liked programming so much
            that I decided to go into web development.
        </p>
    </div>
</div>
<!--<div class="twitter">-->
    <!--<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>-->
    <!--<script>-->
        <!--new TWTR.Widget({-->
            <!--version: 2,-->
            <!--type: 'profile',-->
            <!--rpp: 4,-->
            <!--interval: 30000,-->
            <!--width: 250,-->
            <!--height: 300,-->
            <!--theme: {-->
                <!--shell: {-->
                    <!--background: '#333333',-->
                    <!--color: '#ffffff'-->
                <!--},-->
                <!--tweets: {-->
                    <!--background: '#000000',-->
                    <!--color: '#ffffff',-->
                    <!--links: '#eb7207'-->
                <!--}-->
            <!--},-->
            <!--features: {-->
                <!--scrollbar: false,-->
                <!--loop: false,-->
                <!--live: false,-->
                <!--behavior: 'all'-->
            <!--}-->
        <!--}).render().setUser('heylaurakelly').start();-->
    <!--</script>-->
<!--</div>-->
<div class="social">

</div>

</body>
</html>