<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="icon" type="image/png" href="../static/necker_cube_green.png">
    <link rel="stylesheet" type="text/css" href="../static/main_12_col.css" />
    <link rel="stylesheet" type="text/css" href="../static/lkcom_v2.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <title>Laura Kelly</title>
</head>
<body>
    <div class="container_12">
        <div class="grid_12">
            <div id="header">
                <div id="logo">
                    <img src=../static/lkcom_header.png>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div id="nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('projects') }}">Code</a>
                <a href="{{ url_for('portfolio')  }}">Art</a>
                <a href="http://scriptogr.am/laurakelly">Blog</a>
                <a href="{{ url_for('cv')  }}">CV</a>
                <!--<a href="{{ url_for('links')  }}">Links</a>-->
            </div>
        </div>
        <div class="grid_12">
            <p>Hi, I'm Laura Kelly. I'm a web developer who loves Python and Django and
                a freelance mixed media artist in my spare time. I'm currently a student
                at <a href="http://www.hackbrightacademy.com">Hackbright Academy</a>. Prior
                to becoming a developer, I studied philosophy and neuroscience at
                Washington University in St. Louis. After graduating, I worked in a neuroscience
                lab at UC Davis for two years studing memory with fMRI, EEG, and eye-tracking. I
                taught myself Python to do data analysis in the lab and liked programming so much
                that I decided to go into web development. At the beginning of July 2012, I participated
                in my fist hackathon, the LinkedIn DevelopHer Hack Day. We completed
                <a href="http://munimobile.herokuapp.com/">MuniMobile</a> in 24 hours and won second place. You
                can see some of my other projects <a href="{{ url_for('projects') }}">here</a> or on my
                <a href="http://www.github.com/laurakelly">GitHub</a>.
            </p>
        </div>
        <div class="grid_3 prefix_5">
            <div id="icons">
                <a href="http://www.github.com/laurakelly"><img src=../static/octocat_simple.png></a>
                <a href="http://www.linkedin.com/in/lauralkelly"><img src=../static/linked_in.png></a>
                <a href="http://www.twitter.com/heylaurakelly"><img src=../static/twitter.png></a>
            </div>
        </div>
    </div>
</body>
</html>