<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="icon" type="image/png" href="../static/necker_cube_green.png">
    <link rel="stylesheet" type="text/css" href="../static/main_12_col.css" />
    <link rel="stylesheet" type="text/css" href="../static/lkcom_v2.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
	<title>Laura Kelly</title>
</head>
<body>
    <div class="container_12">
        <div class="grid_12">
            <div id="header">
                <div id="logo">
                    <img src=../static/lkcom_header.png>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div id="nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('projects') }}">Code</a>
                <a href="{{ url_for('portfolio')  }}">Art</a>
                <a href="http://scriptogr.am/laurakelly">Blog</a>
                <a href="{{ url_for('cv')  }}">CV</a>
                <!--<a href="{{ url_for('links')  }}">Links</a>-->
            </div>
        </div>
        <div class="project grid_9 prefix_2 top">
            <h2>IDL HANDS</h2>
            <p>a self-curated online art community by artists, for artists</p>
            <img src="../static/code/idlhands.png" width=700>
            <ul>
                <li>The site is a multi-user platform in which users can post art portfolios
                    and upvote other users’ work</li>
                <li>Front page is dynamically generated to feature new and interesting work</li>
                <li>Uses a Python, Django, PostgreSQL, JQuery and Javascript</li>
            </ul>
        </div>
        <div class="project grid_9 prefix_2">
            <h2>MuniMobile</h2>
            <p>texts you scheduled, real-time updates when a Muni bus is approaching your stop</p>
            <img src="../static/code/muni_signup.png" width=700>
            <ul>
                <li><a href="www.munimobile.herokuapp.com">www.munimobile.herokuapp.com</a></li>
                <li>Won 2nd place at the DevelopHer Hackathon at LinkedIn</li>
                <li>Muni Mobile uses Python, Django, Cron.io, Twilio, NextBus API, JSON, and Javascript</li>
            </ul>
        </div>
        <div class="grid_3 prefix_5">
            <div id="icons">
                <a href="http://www.github.com/laurakelly"><img src=../static/octocat_simple.png></a>
                <a href="http://www.linkedin.com/in/lauralkelly"><img src=../static/linked_in.png></a>
                <a href="http://www.twitter.com/heylaurakelly"><img src=../static/twitter.png></a>
            </div>
        </div>
    </div>
</body>
</html>